<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <div class=" flex flex-row gap-1 items-center">
            <i class="text-2xl! pi pi-fw pi-users "></i>
            <span class="text-base">Usuarios</span>
        </div>
    </ng-template>
    <ng-template #end>
        <p-button label="New" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
    </ng-template>
</p-toolbar>

<p-toast [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"></p-toast>

<p-dataview [value]="users" [layout]="'list'">
    <ng-template #list let-users>
        <div class="flex flex-col">
            <div *ngFor="let user of users; let i = index">
                <div class="flex flex-row sm:items-center p-3" [ngClass]="{ 'border-t border-surface': i !== 0 }">
                    <div class="basis-2/3 flex flex-col gap-2">
                        <span class="font-bold">{{ user.name }}</span>
                        <span class="text-sm">Family ID: {{ user.familyId }}</span>
                        <span class="text-sm">Color: {{ user.colorClass }}</span>
                    </div>
                    <div class="flex basis-1/3 flex-col items-end gap-2">
                        <div class="flex flex-row gap-2 items-center">
                            <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="delete(user)" />
                            <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="edit(user)" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-dataview>

<p-dialog [(visible)]="showDialog" [style]="{ width: '450px' }" header="User" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-3">
            <label class="block font-bold mb-3">Name</label>
            <input type="text" [(ngModel)]="user.name" pInputText required fluid />

            <label class="block font-bold mb-3">Password</label>
            <input type="password" [(ngModel)]="user.password" pInputText required fluid />

            <label class="block font-bold mb-3">Color Class</label>
            <input type="text" [(ngModel)]="user.colorClass" pInputText fluid />

            <label class="block font-bold mb-3">Family ID</label>
            <input type="number" [(ngModel)]="user.familyId" pInputText required fluid />
        </div>
    </ng-template>
    <ng-template #footer>
        <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Save" icon="pi pi-check" (click)="save()" />
    </ng-template>
</p-dialog>

<p-confirmdialog [style]="{ width: '450px' }" />
