<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <span class="text-xl font-bold" >Fuentes de ingresos</span>
    </ng-template>

    <ng-template #end>
        <p-button label="New" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
    </ng-template>
</p-toolbar>
<p-toast [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"></p-toast>
<p-dataview [value]="incomeSources" [layout]="'list'">
    <ng-template #list let-incomeSources>
        <div class="flex flex-col">
            <div *ngFor="let is of incomeSources; let i = index">
                <div class="flex flex-row sm:items-center p-3 " [ngClass]="{ 'border-t border-surface': i !== 0 }">
                    <div class="basis-2/3 ">
                        <div class="flex-row" >
                            <div class="text-sm mt-2">{{ is.name }}</div>
                        </div>
                        <div class="flex flex-row md:flex-col justify-between items-start gap-2">
                            <div class="text-sm mt-2">{{ is.description }}</div>
                        </div>
                    </div>
                    <div class="flex basis-1/3 flex-col items-end gap-4">
                        <span class="text-base font-semibold items-end items">{{ is.projectedIncome | currency:'BOB':'symbol-narrow' }}</span>
                        <div class="flex flex-row gap-2 items-center">
                            <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="delete(is)" />
                            <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="edit(is)" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-dataview>

<p-dialog [(visible)]="showDialog" [style]="{ width: '450px' }" header="Fuente de Ingreso" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            <div>
                <label for="year" class="block font-bold mb-3">Nombre</label>
                <input type="text" id="year" pTextarea [(ngModel)]="incomeSource.name" required rows="3" cols="20"
                       fluid />
            </div>
            <div>
                <label for="amount" class="block font-bold mb-3">Descripción</label>
                <input type="text" id="amount" pTextarea [(ngModel)]="incomeSource.description" required rows="3"
                       cols="20" fluid />
            </div>
            <div>
                <label for="amount" class="block font-bold mb-3">Ingreso proyectado</label>
                <input type="number" inputmode="decimal" pattern="[0-9]*(\.[0-9]{0,2})?"
                       [(ngModel)]="incomeSource.projectedIncome" pInputText required rows="3" cols="20" fluid />
            </div>
        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Save" icon="pi pi-check" (click)="save()" />
    </ng-template>
</p-dialog>

<p-confirmdialog [style]="{ width: '450px' }" />
