<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <div class=" flex flex-row gap-1 items-center">
            <i class="text-2xl! pi pi-fw pi-sitemap "></i>
            <span class="text-base">Familias</span>
        </div>
    </ng-template>
    <ng-template #end>
        <p-button label="Nuevo" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
    </ng-template>
</p-toolbar>
<p-dataView [value]="families" [layout]="'list'">

    <ng-template #list let-incomes>
<div class="flex flex-col">
    <div *ngFor="let family of families; let i = index">
        <div class="flex flex-row sm:items-center p-3" [ngClass]="{ 'border-t border-surface': i !== 0 }">
            <div class="basis-2/3">
                <div class="flex-row">
                    <div class="text-sm mt-2 font-bold">{{ family.name }}</div>
                </div>
                <div class="flex flex-row md:flex-col justify-between items-start gap-2">
                    <div class="text-sm mt-2">{{ family.description }}</div>
                    <div class="text-sm mt-2">{{ family.createdAt | date:'medium' }}</div>
                </div>
            </div>
            <div class="flex basis-1/3 flex-col items-end gap-4">
                <div class="flex flex-row gap-2 items-center">
                    <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="delete(family)" />
                    <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="edit(family)" />
                </div>
            </div>
        </div>
    </div>
</div>
    </ng-template>
</p-dataView>
<p-dialog [(visible)]="showDialog" [style]="{ width: '450px' }" header="Familia" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-3">
            <label for="name" class="block font-bold mb-3">Nombre</label>
            <input id="name" type="text" pInputText [(ngModel)]="family.name" name="name" required />
            <label for="description" class="block font-bold mb-3">Descripción</label>
            <input id="description" type="text" pInputText [(ngModel)]="family.description" name="description" />
            <label for="createdAt" class="block font-bold mb-3">Creado el</label>
            <span>{{ family.createdAt | date:'medium' }}</span>
        </div>
    </ng-template>
    <ng-template #footer>
        <p-button label="Cancelar" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Guardar" icon="pi pi-check" (click)="save()" [disabled]="!family.name" />
    </ng-template>
</p-dialog>
