<p-toolbar styleClass="mb-6">
    <ng-template #start>
       <span class="text-base font-bold">
        Categorias

       </span>
    </ng-template>

    <ng-template #end>
        <p-button label="New" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
    </ng-template>
</p-toolbar>

<p-dataview [value]="categories" [layout]="'list'">

    <ng-template #list let-categories>
        <div class="flex flex-col">
            <div *ngFor="let cat of categories; let i = index">
                <div class="flex flex-row sm:items-center p-3 " [ngClass]="{ 'border-t border-surface': i !== 0 }">
                    <div class="basis-2/3 ">
                        <div class="flex-row" >
                            <category-viewer [category]="cat" ></category-viewer>
                        </div>
                        <div class="flex flex-row md:flex-col justify-between items-start gap-2">
                            <div class="text-sm mt-2">{{ cat.description }}</div>
                        </div>
                    </div>
                    <div class="flex basis-1/3 flex-col items-end gap-4">
                        <div class="flex flex-row gap-2 items-center">
                            <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="delete(cat)" />
                            <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="edit(cat)" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-dataview>

<p-dialog [(visible)]="productDialog" [style]="{ width: '450px' }" header="Category Details" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            <div>
                <label for="name" class="block font-bold mb-3">Name</label>
                <input type="text" pInputText id="name" [(ngModel)]="category.name" required autofocus fluid />
                <small class="text-red-500" *ngIf="submitted && !category.name">Name is required.</small>
            </div>
            <div>
                <label for="description" class="block font-bold mb-3">Description</label>
                <textarea id="description" pTextarea [(ngModel)]="category.description" required rows="3" cols="20"
                          fluid></textarea>
            </div>
            <div>
                <div class="flex flex-row gap-6 items-center p-6">

                    <i class="!text-[3rem] fas" [ngClass]="[category.icon??'pi-cog']" [ngStyle]="{'color':category.color}"></i>
                    <label for="icon" class="block font-bold ">Icono</label>
                    <input type="text" pInputText id="icon" [(ngModel)]="category.icon" required fluid />

                </div>
                <label for="color" class="block font-bold mb-3">Color</label>
                <p-colorpicker [(ngModel)]="category.color" inputId="cp-hex" class="mb-4" inline/>
                <span>{{category.color}}</span>
            </div>

        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Save" icon="pi pi-check" (click)="saveCategory()" />
    </ng-template>
</p-dialog>

<p-confirmdialog [style]="{ width: '450px' }" />
