
<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <span class="text-base font-bold"> Ingresos </span>
    </ng-template>

    <ng-template #end>
        <p-button label="Nuevo" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
    </ng-template>
</p-toolbar>
<p-toolbar class="mb-2">
    <user-filter [(userParameter)]="currentUserPeriodParameter.userName" (onFilter)="userFilter($event)"></user-filter>
    <period-filter [(periodParameter)]="currentUserPeriodParameter.period" (onFilter)="periodFilter($event)" ></period-filter>
</p-toolbar>
<user-financial-summary [currentParameter]="currentUserPeriodParameter" ></user-financial-summary>
<p-toast [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"></p-toast>

<p-dataview [value]="incomes" [layout]="'list'">

    <ng-template #list let-incomes>
        <div class="flex flex-col">
            <div *ngFor="let income of incomes; let i = index">
                <div class="flex flex-row sm:items-center p-3 " [ngClass]="{ 'border-t border-surface': i !== 0 }">
                    <div class="basis-2/3 flex flex-col gap-2s">
                        <div class="flex-row" >
                            <p-tag severity="info"> {{income.incomeSource.name}} </p-tag>
                        </div>
                        <span class="text-surface-500 dark:text-surface-400 text-sm">{{ income.date| date:'shortDate' }} - {{ income.date| timeago }} </span>
                    </div>
                    <div class="flex basis-1/3 flex-col items-end gap-2">
                        <span class="text-sm font-semibold items-end items">{{ income.amount | currency:'BOB':'symbol-narrow' }}</span>
                        <div class="flex flex-row gap-2 items-center">
                            <user-avatar [userName]="income.userName" [disableUserFilter]="currentUserPeriodParameter.userName == undefined"></user-avatar>
                            <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="delete(income)" />
                            <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="edit(income)" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-dataview>

<p-dialog [(visible)]="showDialog" [style]="{ width: '450px' }" header="Ingreso" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-3">
            <label for="category" class="block font-bold mb-3">Categoria</label>
            <p-select [(ngModel)]="income.incomeSource"
                      inputId="category" [options]="incomeSources"
                      (onChange)="onIncomeSourceChange($event)"
                      optionLabel="name" placeholder="Select a income source" appendTo="body" fluid>
                <ng-template let-selectedItem #selectedItem>
                    <div class="flex items-center gap-2">
                        <i class="fas" [ngClass]="[selectedItem?.icon??'fa-home',selectedItem?.color??'']"
                           style="width: 20px"></i>
                        <span>{{ selectedItem.name }}</span>
                    </div>
                </ng-template>
                <ng-template let-category #item>
                    <div class="flex items-center gap-2">
                        <i class="fas" [ngClass]="[category?.icon??'fa-home',category?.color??'']"
                           style="width: 20px"></i>
                        <span>{{ category.name }}</span>
                    </div>
                </ng-template>
            </p-select>
            <div>
                <label for="amount" class="block font-bold mb-3">Ingreso</label>
                <input type="number" inputmode="decimal" pattern="[0-9]*(\.[0-9]{0,2})?" [(ngModel)]="income.amount" pInputText required rows="3" cols="20" fluid/>
            </div>
            <div>
                <label for="amount" class="block font-bold mb-3">Descripción</label>
                <input type="text" id="amount" pTextarea [(ngModel)]="income.description" required rows="3" cols="20" fluid/>
            </div>
            <div>
                <label for="name" class="block font-bold mb-3">Fecha</label>
                <p-inputgroup>
                    <p-inputgroup-addon>
                        <p-button icon="pi pi-chevron-left" severity="secondary" (onClick)="onDatePreviousClick()" />
                    </p-inputgroup-addon>
                    <p-datepicker [showIcon]="true" [showButtonBar]="true" [(ngModel)]="income.date"
                                  [dateFormat]="'dd/M/yy'"
                                  appendTo="body"></p-datepicker>
                    <p-inputgroup-addon>
                        <p-button icon="pi pi-chevron-right" severity="secondary" (onClick)="onDateNextClick()" />
                    </p-inputgroup-addon>
                </p-inputgroup>
            </div>
        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Save" icon="pi pi-check" (click)="save()" />
    </ng-template>
</p-dialog>

<p-confirmdialog [style]="{ width: '450px' }" />
