<p-toast [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"></p-toast>
<p-toolbar class="mb-2">
    <ng-template #start>
        <span class="text-base">Presupuesto</span>
    </ng-template>

    <ng-template #end>
        <p-button label="Nuevo" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
        <p-button label="Copiar" icon="pi pi-copy" severity="secondary" class="mr-2" (onClick)="openCopy()" />
    </ng-template>
</p-toolbar>
<p-toolbar class="mb-2">
    <ng-template #start>
        <user-filter [(userParameter)]="currentUserPeriodParameter.userName" (onFilter)="filter($event)"></user-filter>
    </ng-template >
    <ng-template #end>
        <period-filter [(periodParameter)]="currentUserPeriodParameter.period"  (onFilter)="filterPeriod($event)"> </period-filter>
    </ng-template >
</p-toolbar>

<p-toolbar class="mb-2">
    <ng-template #start>
        @for (budget of incomeBudgetSummary; track budget.userName) {
            <div class="flex items-center  gap-3 text-sm">
                <div>
                    <i class="pi pi-fw pi-arrow-right"></i><span pTooltip="'Ingresos'">{{ budget?.incomeAmount| currency:'BOB':'symbol-narrow' }}</span>
                </div>
                <div>
                    <i class="pi pi-fw pi-flag"></i><span>{{ budget?.budgetAmount| currency:'BOB':'symbol-narrow' }}</span>
                </div>
                <span> Diff. {{ budget?.balance| currency:'BOB':'symbol-narrow' }}</span>
            </div>
        }
    </ng-template>
</p-toolbar>

<p-dataview [value]="budgets" [layout]="'list'">

    <ng-template #list let-budgets>
        <div class="flex flex-col">
            <div *ngFor="let budget of budgets; let i = index">
                <div class="flex flex-row sm:items-center p-3 " [ngClass]="{ 'border-t border-surface': i !== 0 }">
                    <div class="basis-2/3 ">
                        <div class="flex-row" >
                            <category-viewer [category]="budget.category" ></category-viewer>
                        </div>
                        <span class="text-surface-500 dark:text-surface-400 text-sm">{{ budget.year }} - {{ budget.month }} </span>

                    </div>
                    <div class="flex basis-1/3 flex-col items-end gap-4">
                        <span class="text-base font-semibold items-end items">{{ budget.amount | currency:'BOB':'symbol-narrow' }}</span>
                        <div class="flex flex-row gap-2 items-center">
                            <user-avatar [userName]="budget.userName" [disableUserFilter]="currentUserPeriodParameter.userName == undefined"></user-avatar>
                            <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="delete(budget)" />
                            <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="edit(budget)" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-dataview>


<p-dialog [(visible)]="productDialog" [style]="{ width: '450px' }" header="Budget Details" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            <div>
                <label for="year" class="block font-bold mb-3">Año</label>
                <input type="number" inputmode="numeric" pattern="[0-9]*" id="year" pTextarea [(ngModel)]="budget.year"
                       required rows="3" cols="20" fluid />
            </div>
            <div>
                <label for="amount" class="block font-bold mb-3">Mes</label>
                <input type="number" inputmode="numeric" pattern="[0-9]*" id="amount" pTextarea
                [(ngModel)]="budget.month" required rows="3" cols="20" fluid />
            </div>
            <div>
                <label for="category" class="block font-bold mb-3">Categoria</label>
                <category-select [(currenCategory)]="budget.category"></category-select>
            </div>
            <div>
                <label for="amount" class="block font-bold mb-3">Valor</label>
                <input type="number" inputmode="numeric" pattern="[0-9]*" id="amount" pTextarea
                    [(ngModel)]="budget.amount" required rows="3" cols="20" fluid />
            </div>
        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Save" icon="pi pi-check" (click)="save()" />
    </ng-template>
</p-dialog>
<budget-copy [(visible)]="showBudgetCopyDialog" ></budget-copy>

<p-confirmdialog [style]="{ width: '450px' }" />
